@use '../common/tokens' as *;

.cards-block-type-1 {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .card {
    padding: 24px;
    background: $gray-8;
    border: 1px solid $gray-12;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;

  }
}

@media(min-width: $sm) {
  .cards-block-type-1 {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media(min-width: $md) {
  .cards-block-type-1 {
    .cards {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}