@use '../common/tokens' as *;

.header-block-type-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 600px;
  background-color: $gray-8;
}

@media(min-width: $sm) {
  .header-block-type-1 {
    min-height: 700px;
  }
}

@media(min-width: $md) {
  .header-block-type-1 {
    min-height: 800px;
  }
}