@use '../common/tokens' as *;

.products-block {
  .cards {
    display: grid;
    gap: 8px;
  }
  .card {
    display: flex;
    flex-direction: column;

    color: $dark-500;

    &__image-wrapper {
      img {
        border-radius: 16px;
      }
    }
    &__content-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__price-wrapper {
      display: flex;
      gap: 16px;
    }

    // card
    &--hidden {
      display: none;
      opacity: 0;
    }
    &--visible {
      animation: fadeIn .2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }

    //
    &:hover {
      
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media(min-width: $sm) {
  .products-block {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media(min-width: $md) {
  .products-block {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}