@use '../common/tokens' as *;

.reviews-block {
  overflow: hidden;
  .swiper {
    overflow: visible;
  }
  .cards {
    
  }
  .card {
    padding: 24px;
    background: $gray-8;
    border: 1px solid $gray-12;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    img {
      border-radius: 16px;
    }
  }
  
}

@media(min-width: $sm) {
  .reviews-block {
    
  }
}

@media(min-width: $md) {
  .reviews-block {
    
  }
}