@use '../common/tokens' as *;

.reviews-block {
  overflow: hidden;
  .swiper {
    overflow: visible;
  }
  .cards {
    
  }
  .card {
    &__images-wrapper {
      display: flex;
      gap: 4px;
      img {
        width: 56px;
        height: 56px;
        object-fit: cover;
        object-position: center center;
        border-radius: 12px;
      }
    }
  }
  
}

@media(min-width: $sm) {
  .reviews-block {
    
  }
}

@media(min-width: $md) {
  .reviews-block {
    
  }
}