@use '_tokens' as *;

.buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;

  &--jcc {
    justify-content: center;
  }

}

.button {

  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 16px 32px;
  border: none;
  border-radius: 12px;

  color: $gray-4;
  background: $white;

  cursor: pointer;
  transition: $transition;

  &.disabled {
    opacity: .5;
    pointer-events: none;
    cursor: not-allowed;
  }

  &--small {
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 6px;
  }

  &--filled--gray {
    color: $white;
    background: $gray-16;
    &:hover {
      background: $gray-20;
    }
    &.active {
      color: $gray-4;
      background: $gray-92;
    }
  }

  &--outlined--gray {
    color: $gray-52;
    background: transparent;
    border: 1px solid $gray-52;
    &:hover {
      color: $white;
      background: transparent;
      border-color: $white;
    }
  }

}
