@use '_tokens' as *;

.buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;

  &--jcc {
    justify-content: center;
  }

  &--gap-4 {
    gap: 4px;
  }

}

.button {

  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 16px 32px;
  border: none;
  border-radius: 12px;

  color: $gray-4;
  background: $white;

  cursor: pointer;
  transition: $transition;

  white-space: nowrap;

  &.disabled {
    opacity: .5;
    pointer-events: none;
    cursor: not-allowed;
  }

  &--small {
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 6px;
  }

  &--link {
    color: $white;
  }

  &--outlined--gray {
    color: $gray-52;
    background: transparent;
    border: 1px solid $gray-52;
    &:hover,
    &.active {
      color: $white;
      background: transparent;
      border-color: $white;
    }
  }

  &--icon {
    padding: 0;
    background-color: unset;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 32px;
    width: 32px;
    height: 32px;
    &--vk { background-image: url('/images/icons/vk.svg'); }
    &--telegram { background-image: url('/images/icons/telegram.svg'); }
    &--max { background-image: url('/images/icons/max.svg'); }
    &--pinterest { background-image: url('/images/icons/pinterest.svg'); }
  }

}

.header,
.footer {
  .button--icon {
    width: 24px;
    height: 24px;
    background-size: 24px;
  }
}

