@use '_tokens' as *;

.buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;

  &--jcc {
    justify-content: center;
  }

  &--gap-4 {
    gap: 4px;
  }

}

.button {

  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 16px 32px;
  border: none;
  border-radius: 12px;

  color: $dark-50;
  background: $dark-950;

  cursor: pointer;
  transition: $transition;

  white-space: nowrap;

  &:hover {
    color: $dark-50;
    background: $dark-800;
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;
    cursor: not-allowed;
  }

  &--small {
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 6px;
  }

  &--link {
    color: $white;
  }

  &--filled--gray {
    color: $dark-950;
    background: $dark-100;
    &:hover {
      color: $dark-950;
      background: $dark-50;
    }
    &.active {
      color: $dark-100;
      background: $dark-950;
    }
  }

  &--outlined--gray {
    color: $dark-500;
    background: transparent;
    border: 1px solid $dark-500;
    &:hover {
      color: $dark-950;
      background: transparent;
      border-color: $dark-950;
    }
  }
  
  &--icon {
    padding: 0;
    background-color: unset;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 32px;
    width: 32px;
    height: 32px;
    &--vk { background-image: url('/images/icons/icon-vk-white.svg'); }
    &--telegram { background-image: url('/images/icons/icon-telegram-white.svg'); }
    &--max { background-image: url('/images/icons/icon-max-white.svg'); }
    &--pinterest { background-image: url('/images/icons/icon-pinterest-white.svg'); }
  }

}

.scroll-to-top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 999;
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    color: $dark-50;
    background: $dark-950;
    span {
      font-size: 20px;
    }
    &:hover {
      color: $dark-50;
      background: $dark-800;
    }
  }
}

.header,
.footer {
  .button--icon {
    width: 24px;
    height: 24px;
    background-size: 24px;
  }
}

