@use '_tokens' as *;

.footer {
  background: $dark-50;
  &-widgets {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
  }
  &-widget {
    &__links {
      display: grid;
      gap: 16px;
      a {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        &:hover {
          color: $white;
        }
      }
    }
  }
}

@media(min-width: $sm) {
  .footer {
    &-widgets {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media(min-width: $md) {
  .footer {
    &-widgets {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}