@use '_tokens' as *;

.footer {
  &-widgets {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
  }
  &-widget {
    &__links {
      display: grid;
      gap: 8px;
      a {
        font-size: 12px;
      }
    }
  }
  a {
    &:hover {
      color: $white;
    }
  }
}

@media(min-width: $sm) {
  .footer {
    &-widgets {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media(min-width: $md) {
  .footer {
    &-widgets {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 999;
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    color: $gray-4;
    background: $white;
    span {
      font-size: 20px;
    }
  }
}