@use '_tokens' as *;

//

@media (max-width: $sm) {
  .hidden-xs { display: none; }
}

//

.pt-0 	{ padding-top: 0; }
.pt-2   { padding-top: 2px; }
.pt-4   { padding-top: 4px; }
.pt-8 	{ padding-top: 8px; }
.pt-12  { padding-top: 12px; }
.pt-16 	{ padding-top: 16px; }
.pt-20  { padding-top: 20px; }
.pt-24 	{ padding-top: 24px; }
.pt-32 	{ padding-top: 32px; }
.pt-40  { padding-top: 40px; }
.pt-48 	{ padding-top: 48px; }
.pt-64 	{ padding-top: 64px; }
.pt-80  { padding-top: 80px; }
.pt-96 	{ padding-top: 96px; }
.pt-112 { padding-top: 112px; }
.pt-128 { padding-top: 128px; }
.pt-160 { padding-top: 160px; }
.pt-192 { padding-top: 192px; }
.pt-224 { padding-top: 224px; }
.pt-256 { padding-top: 256px; }
.pt-320 { padding-top: 320px; }
.pt-384 { padding-top: 384px; }
.pt-448 { padding-top: 448px; }
.pt-512 { padding-top: 512px; }

.pb-0 	{ padding-bottom: 0; }
.pb-2   { padding-bottom: 2px; }
.pb-4   { padding-bottom: 4px; }
.pb-8 	{ padding-bottom: 8px; }
.pb-12  { padding-bottom: 12px; }
.pb-16 	{ padding-bottom: 16px; }
.pb-20  { padding-bottom: 20px; }
.pb-24 	{ padding-bottom: 24px; }
.pb-32 	{ padding-bottom: 32px; }
.pb-40  { padding-bottom: 40px; }
.pb-48 	{ padding-bottom: 48px; }
.pb-64 	{ padding-bottom: 64px; }
.pb-80  { padding-bottom: 80px; }
.pb-96 	{ padding-bottom: 96px; }
.pb-112 { padding-bottom: 112px; }
.pb-128 { padding-bottom: 128px; }
.pb-160 { padding-bottom: 160px; }
.pb-192 { padding-bottom: 192px; }
.pb-224 { padding-bottom: 224px; }
.pb-256 { padding-bottom: 256px; }
.pb-320 { padding-bottom: 320px; }
.pb-384 { padding-bottom: 384px; }
.pb-448 { padding-bottom: 448px; }
.pb-512 { padding-bottom: 512px; }

.pr-24 { padding-right: 24px; }

.mt-0 	{ margin-top: 0; }
.mt-2   { margin-top: 2px; }
.mt-4   { margin-top: 4px; }
.mt-8 	{ margin-top: 8px; }
.mt-12  { margin-top: 12px; }
.mt-16 	{ margin-top: 16px; }
.mt-20  { margin-top: 20px; }
.mt-24 	{ margin-top: 24px; }
.mt-32 	{ margin-top: 32px; }
.mt-40  { margin-top: 40px; }
.mt-48 	{ margin-top: 48px; }
.mt-64 	{ margin-top: 64px; }
.mt-72  { margin-top: 72px; }
.mt-80  { margin-top: 80px; }
.mt-96 	{ margin-top: 96px; }
.mt-112 { margin-top: 112px; }
.mt-128 { margin-top: 128px; }
.mt-160 { margin-top: 160px; }
.mt-192 { margin-top: 192px; }
.mt-224 { margin-top: 224px; }
.mt-256 { margin-top: 256px; }
.mt-320 { margin-top: 320px; }
.mt-384 { margin-top: 384px; }
.mt-448 { margin-top: 448px; }
.mt-512 { margin-top: 512px; }

.mb-0 	{ margin-bottom: 0; }
.mb-2   { margin-bottom: 2px; }
.mb-4   { margin-bottom: 4px; }
.mb-8 	{ margin-bottom: 8px; }
.mb-12  { margin-bottom: 12px; }
.mb-16 	{ margin-bottom: 16px; }
.mb-20  { margin-bottom: 20px; }
.mb-24 	{ margin-bottom: 24px; }
.mb-32 	{ margin-bottom: 32px; }
.mb-40  { margin-bottom: 40px; }
.mb-48 	{ margin-bottom: 48px; }
.mb-64 	{ margin-bottom: 64px; }
.mb-80  { margin-bottom: 80px; }
.mb-96 	{ margin-bottom: 96px; }
.mb-112 { margin-bottom: 112px; }
.mb-128 { margin-bottom: 128px; }
.mb-160 { margin-bottom: 160px; }
.mb-192 { margin-bottom: 192px; }
.mb-224 { margin-bottom: 224px; }
.mb-256 { margin-bottom: 256px; }
.mb-320 { margin-bottom: 320px; }
.mb-384 { margin-bottom: 384px; }
.mb-448 { margin-bottom: 448px; }
.mb-512 { margin-bottom: 512px; }

.text--center { text-align: center; }
.text--left 	 { text-align: left; }


@media(min-width: $sm) {

  .pt-sm-0 	  { padding-top: 0; }
  .pt-sm-2    { padding-top: 2px; }
  .pt-sm-4    { padding-top: 4px; }
  .pt-sm-8 	  { padding-top: 8px; }
  .pt-sm-12   { padding-top: 12px; }
  .pt-sm-16 	{ padding-top: 16px; }
  .pt-sm-20   { padding-top: 20px; }
  .pt-sm-24 	{ padding-top: 24px; }
  .pt-sm-32 	{ padding-top: 32px; }
  .pt-sm-40   { padding-top: 40px; }
  .pt-sm-48 	{ padding-top: 48px; }
  .pt-sm-64 	{ padding-top: 64px; }
  .pt-sm-80   { padding-top: 80px; }
  .pt-sm-96 	{ padding-top: 96px; }
  .pt-sm-112  { padding-top: 112px; }
  .pt-sm-128  { padding-top: 128px; }
  .pt-sm-160  { padding-top: 160px; }
  .pt-sm-192  { padding-top: 192px; }
  .pt-sm-224  { padding-top: 224px; }
  .pt-sm-256  { padding-top: 256px; }
  .pt-sm-320  { padding-top: 320px; }
  .pt-sm-384  { padding-top: 384px; }
  .pt-sm-448  { padding-top: 448px; }
  .pt-sm-512  { padding-top: 512px; }
  
  .pb-sm-0 	  { padding-bottom: 0; }
  .pb-sm-2    { padding-bottom: 2px; }
  .pb-sm-4    { padding-bottom: 4px; }
  .pb-sm-8 	  { padding-bottom: 8px; }
  .pb-sm-12   { padding-bottom: 12px; }
  .pb-sm-16 	{ padding-bottom: 16px; }
  .pb-sm-20   { padding-bottom: 20px; }
  .pb-sm-24 	{ padding-bottom: 24px; }
  .pb-sm-32 	{ padding-bottom: 32px; }
  .pb-sm-40   { padding-bottom: 40px; }
  .pb-sm-48 	{ padding-bottom: 48px; }
  .pb-sm-64 	{ padding-bottom: 64px; }
  .pb-sm-80   { padding-bottom: 80px; }
  .pb-sm-96 	{ padding-bottom: 96px; }
  .pb-sm-112  { padding-bottom: 112px; }
  .pb-sm-128  { padding-bottom: 128px; }
  .pb-sm-160  { padding-bottom: 160px; }
  .pb-sm-192  { padding-bottom: 192px; }
  .pb-sm-224  { padding-bottom: 224px; }
  .pb-sm-256  { padding-bottom: 256px; }
  .pb-sm-320  { padding-bottom: 320px; }
  .pb-sm-384  { padding-bottom: 384px; }
  .pb-sm-448  { padding-bottom: 448px; }
  .pb-sm-512  { padding-bottom: 512px; }
  
  .mt-sm-0 	  { margin-top: 0; }
  .mt-sm-2    { margin-top: 2px; }
  .mt-sm-4    { margin-top: 4px; }
  .mt-sm-8 	  { margin-top: 8px; }
  .mt-sm-12   { margin-top: 12px; }
  .mt-sm-16 	{ margin-top: 16px; }
  .mt-sm-20   { margin-top: 20px; }
  .mt-sm-24 	{ margin-top: 24px; }
  .mt-sm-32 	{ margin-top: 32px; }
  .mt-sm-40   { margin-top: 40px; }
  .mt-sm-48 	{ margin-top: 48px; }
  .mt-sm-64 	{ margin-top: 64px; }
  .mt-sm-80   { margin-top: 80px; }
  .mt-sm-96 	{ margin-top: 96px; }
  .mt-sm-112  { margin-top: 112px; }
  .mt-sm-128  { margin-top: 128px; }
  .mt-sm-160  { margin-top: 160px; }
  .mt-sm-192  { margin-top: 192px; }
  .mt-sm-224  { margin-top: 224px; }
  .mt-sm-256  { margin-top: 256px; }
  .mt-sm-320  { margin-top: 320px; }
  .mt-sm-384  { margin-top: 384px; }
  .mt-sm-448  { margin-top: 448px; }
  .mt-sm-512  { margin-top: 512px; }

  .mb-sm-0 	  { padding-top: 0; }
  .mb-sm-2    { padding-top: 2px; }
  .mb-sm-4    { padding-top: 4px; }
  .mb-sm-8 	  { padding-top: 8px; }
  .mb-sm-12   { padding-top: 12px; }
  .mb-sm-16 	{ padding-top: 16px; }
  .mb-sm-20   { padding-top: 20px; }
  .mb-sm-24 	{ padding-top: 24px; }
  .mb-sm-32 	{ padding-top: 32px; }
  .mb-sm-40   { padding-top: 40px; }
  .mb-sm-48 	{ padding-top: 48px; }
  .mb-sm-64 	{ padding-top: 64px; }
  .mb-sm-80   { padding-top: 80px; }
  .mb-sm-96 	{ padding-top: 96px; }
  .mb-sm-112  { padding-top: 112px; }
  .mb-sm-128  { padding-top: 128px; }
  .mb-sm-160  { padding-top: 160px; }
  .mb-sm-192  { padding-top: 192px; }
  .mb-sm-224  { padding-top: 224px; }
  .mb-sm-256  { padding-top: 256px; }
  .mb-sm-320  { padding-top: 320px; }
  .mb-sm-384  { padding-top: 384px; }
  .mb-sm-448  { padding-top: 448px; }
  .mb-sm-512  { padding-top: 512px; }

  .text--sm-center { text-align: center; }
  .text--sm-left 	 { text-align: left; }

}

@media(min-width: $md) {

  .pt-md-0 	  { padding-top: 0; }
  .pt-md-2    { padding-top: 2px; }
  .pt-md-4    { padding-top: 4px; }
  .pt-md-8 	  { padding-top: 8px; }
  .pt-md-12   { padding-top: 12px; }
  .pt-md-16 	{ padding-top: 16px; }
  .pt-md-20   { padding-top: 20px; }
  .pt-md-24 	{ padding-top: 24px; }
  .pt-md-32 	{ padding-top: 32px; }
  .pt-md-40   { padding-top: 40px; }
  .pt-md-48 	{ padding-top: 48px; }
  .pt-md-64 	{ padding-top: 64px; }
  .pt-md-80   { padding-top: 80px; }
  .pt-md-96 	{ padding-top: 96px; }
  .pt-md-112  { padding-top: 112px; }
  .pt-md-128  { padding-top: 128px; }
  .pt-md-160  { padding-top: 160px; }
  .pt-md-192  { padding-top: 192px; }
  .pt-md-224  { padding-top: 224px; }
  .pt-md-256  { padding-top: 256px; }
  .pt-md-320  { padding-top: 320px; }
  .pt-md-384  { padding-top: 384px; }
  .pt-md-448  { padding-top: 448px; }
  .pt-md-512  { padding-top: 512px; }
  
  .pb-md-0 	  { padding-bottom: 0; }
  .pb-md-2    { padding-bottom: 2px; }
  .pb-md-4    { padding-bottom: 4px; }
  .pb-md-8 	  { padding-bottom: 8px; }
  .pb-md-12   { padding-bottom: 12px; }
  .pb-md-16 	{ padding-bottom: 16px; }
  .pb-md-20   { padding-bottom: 20px; }
  .pb-md-24 	{ padding-bottom: 24px; }
  .pb-md-32 	{ padding-bottom: 32px; }
  .pb-md-40   { padding-bottom: 40px; }
  .pb-md-48 	{ padding-bottom: 48px; }
  .pb-md-64 	{ padding-bottom: 64px; }
  .pb-md-80   { padding-bottom: 80px; }
  .pb-md-96 	{ padding-bottom: 96px; }
  .pb-md-112  { padding-bottom: 112px; }
  .pb-md-128  { padding-bottom: 128px; }
  .pb-md-160  { padding-bottom: 160px; }
  .pb-md-192  { padding-bottom: 192px; }
  .pb-md-224  { padding-bottom: 224px; }
  .pb-md-256  { padding-bottom: 256px; }
  .pb-md-320  { padding-bottom: 320px; }
  .pb-md-384  { padding-bottom: 384px; }
  .pb-md-448  { padding-bottom: 448px; }
  .pb-md-512  { padding-bottom: 512px; }
  
  .mt-md-0 	  { margin-top: 0; }
  .mt-md-2    { margin-top: 2px; }
  .mt-md-4    { margin-top: 4px; }
  .mt-md-8 	  { margin-top: 8px; }
  .mt-md-12   { margin-top: 12px; }
  .mt-md-16 	{ margin-top: 16px; }
  .mt-md-20   { margin-top: 20px; }
  .mt-md-24 	{ margin-top: 24px; }
  .mt-md-32 	{ margin-top: 32px; }
  .mt-md-40   { margin-top: 40px; }
  .mt-md-48 	{ margin-top: 48px; }
  .mt-md-64 	{ margin-top: 64px; }
  .mt-md-80   { margin-top: 80px; }
  .mt-md-96 	{ margin-top: 96px; }
  .mt-md-112  { margin-top: 112px; }
  .mt-md-128  { margin-top: 128px; }
  .mt-md-160  { margin-top: 160px; }
  .mt-md-192  { margin-top: 192px; }
  .mt-md-224  { margin-top: 224px; }
  .mt-md-256  { margin-top: 256px; }
  .mt-md-320  { margin-top: 320px; }
  .mt-md-384  { margin-top: 384px; }
  .mt-md-448  { margin-top: 448px; }
  .mt-md-512  { margin-top: 512px; }

  .mb-md-0 	  { margin-bottom: 0; }
  .mb-md-2    { margin-bottom: 2px; }
  .mb-md-4    { margin-bottom: 4px; }
  .mb-md-8 	  { margin-bottom: 8px; }
  .mb-md-12   { margin-bottom: 12px; }
  .mb-md-16 	{ margin-bottom: 16px; }
  .mb-md-20   { margin-bottom: 20px; }
  .mb-md-24 	{ margin-bottom: 24px; }
  .mb-md-32 	{ margin-bottom: 32px; }
  .mb-md-40   { margin-bottom: 40px; }
  .mb-md-48 	{ margin-bottom: 48px; }
  .mb-md-64 	{ margin-bottom: 64px; }
  .mb-md-80   { margin-bottom: 80px; }
  .mb-md-96 	{ margin-bottom: 96px; }
  .mb-md-112  { margin-bottom: 112px; }
  .mb-md-128  { margin-bottom: 128px; }
  .mb-md-160  { margin-bottom: 160px; }
  .mb-md-192  { margin-bottom: 192px; }
  .mb-md-224  { margin-bottom: 224px; }
  .mb-md-256  { margin-bottom: 256px; }
  .mb-md-320  { margin-bottom: 320px; }
  .mb-md-384  { margin-bottom: 384px; }
  .mb-md-448  { margin-bottom: 448px; }
  .mb-md-512  { margin-bottom: 512px; }

  .text--md-center { text-align: center; }
  .text--md-left 	 { text-align: left; }

}

.border-top {
  border-top: 1px solid $gray-12;
}

.card {
  &--with-wrapper {
    padding: 24px;
    background: $gray-8;
    border: 1px solid $gray-12;
    border-radius: 16px;
    &:hover {
      border: 1px solid $gray-16;
    }
  }
}