@use '_tokens' as *;

body.light-theme1 {

  color: $dark-200;
  background: $light-50;

  h1, .title-h1,
  h2, .title-h2,
  h3, .title-h3,
  h4, .title-h4,
  h5, .title-h5,
  .pretitle {
    color: $dark-50;
  }

  a {
    color: $gray-4;
  }

  .button {

    &--outlined--gray {
      color: $light-900;
      background: transparent;
      border: 1px solid $light-900;
      &:hover,
      &.active {
        color: $light;
        background: $light-900;
      }
    }

    &--filled--gray {
      color: $light-900;
      background: $light-100;
      &:hover,
      &.active {
        color: $light;
        background: $light-900;
      }
    }

    &--icon {
      &--vk { background-image: url('/images/icons/icon-vk-black.svg'); }
      &--telegram { background-image: url('/images/icons/icon-telegram-black.svg'); }
      &--max { background-image: url('/images/icons/icon-max-black.svg'); }
      &--pinterest { background-image: url('/images/icons/icon-pinterest-black.svg'); }
    }

  }

  .scroll-to-top {
    &__button {
      color: $white;
      background: $gray-4;
    }
  }

  .header,
  .footer {
    background: $white;
    a {
      &:hover {
        color: $primary;
      }
    }
  }

  .text--white { color: $gray-4; }
  .border-top,
  .botder-bottom {
    border-color: $gray-96;
  }

  .header-block-type-1 {
    background: $gray-96;
  }

  .header-block-type-2 {
    .wrapper {
      background: $gray-96;
    }
  }

  .blockquote-block-type-1,
  .cta-block-type-1 {
    background-color: $gray-96;
  }

  .card {
    &--with-wrapper {
      background: $light;
      border-color: $white;
    }
  }

}