@use '_tokens' as *;

.swiper {
  &-pagination {
    position: relative;
    margin-top: 48px;

    &-bullet {
      width: 24px;
      height: 4px;
      background: $gray-52;
      border-radius: 16px;
      opacity: unset;

      &-active {
        background: $white;
      }
    }
  }
}