$transition: linear .24s;

$xs: 0px;
$sm: 767px;
$md: 1041px;

$red: #FF3B30;
$orange: #FF9500;
$yellow: #FFCC00;
$green: #34C760;
$blue: #007AFF;

$primary-100: #F4F0FF;
$primary-200: #D9CBFE;
$primary-300: #BEA7FE;
$primary-400: #A889FD;
$primary-500: #926CFD;
$primary-600: #7857D7;
$primary-700: #5F41B1;
$primary-800: #452C8C;
$primary-900: #2C1666;

$gray-4: #141413;
$gray-8: #1D1D1C;
$gray-12: #272726;
$gray-16: #30302F;
$gray-20: #3A3A39;
$gray-24: #434342;
$gray-28: #4C4C4C;
$gray-32: #565655;
$gray-36: #5F5F5F;
$gray-40: #696968;
$gray-44: #727271;
$gray-48: #7B7B7B;
$gray-52: #858584;
$gray-56: #8E8E8E;
$gray-60: #989897;
$gray-64: #A1A1A1;
$gray-68: #AAAAAA;
$gray-72: #B4B4B3;
$gray-76: #BDBDBD;
$gray-80: #C7C7C6;
$gray-84: #D0D0D0;
$gray-88: #D9D9D9;
$gray-92: #E3E3E3;
$gray-96: #ECECEC;
$gray-100: #FFFFFF;

$white: #FFFFFF;
$primary: #b9814e;


$light: #FFFFFF;
$light-50: #FAFAFA;
$light-100: #F5F5F5;
$light-200: #E5E5E5;
$light-300: #D4D4D4;
$light-400: #A3A3A3;
$light-500: #737373;
$light-600: #525252;
$light-700: #404040;
$light-800: #262626;
$light-900: #171717;
$light-950: #0A0A0A;

$dark: #000000;
$dark-50: #0A0A0A;
$dark-100: #171717;
$dark-200: #262626;
$dark-300: #373737;
$dark-400: #525252;
$dark-500: #8A8A8A;
$dark-600: #A3A3A3;
$dark-700: #D4D4D4;
$dark-800: #E5E5E5;
$dark-900: #F5F5F5;
$dark-950: #FAFAFA;