$transition: linear .24s;

$xs: 0px;
$sm: 767px;
$md: 1041px;

$white: #FFFFFF;
$red: #FF3B30;
$orange: #FF9500;
$yellow: #FFCC00;
$green: #34C760;
$blue: #007AFF;

$primary-100: #F4F0FF;
$primary-200: #D9CBFE;
$primary-300: #BEA7FE;
$primary-400: #A889FD;
$primary-500: #926CFD;
$primary-600: #7857D7;
$primary-700: #5F41B1;
$primary-800: #452C8C;
$primary-900: #2C1666;

$gray-100: #F7F7F7;
$gray-200: #E1E2E3;
$gray-300: #C6C9CC;
$gray-400: #A9ACB0;
$gray-500: #868B8F;
$gray-600: #5D6166;
$gray-700: #3F4347;
$gray-800: #212426;
$gray-900: #0C0E0F;

