@use '_tokens' as *;

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body {
  color: $gray-52;
  background: $gray-4;
}

p {
  padding: 0;
  margin: 0;

  line-height: 1.5;
}

a {
  color: $gray-52;
  text-decoration: none;
}

h1, .title-h1,
h2, .title-h2,
h3, .title-h3,
h4, .title-h4,
h5, .title-h5,
.subtitle {

  padding: 0;
  margin: 0;

  font-family: "Cormorant Garamond", serif;
  font-weight: 600;

  line-height: 1.1;
  color: $white;

}

.text--x-small {
  font-size: 10px;
}

.text--small {
  font-size: 12px;
}

.text--medium {
  font-weight: 500;
}

.text--bold {
  font-weight: 600;
}

.title-h1 { font-size: 36px; }
.title-h2 { font-size: 32px; }
.title-h3 { font-size: 28px; }
.title-h4 { font-size: 24px; }
.title-h5 { font-size: 20px; }
.subtitle { font-size: 16px; }

@media(min-width: $sm) {
  .title-h1 { font-size: 48px; }
  .title-h2 { font-size: 40px; }
  .title-h3 { }
  .title-h4 { }
}

@media(min-width: $md) {
  .title-h1 { font-size: 64px; }
}