---
import '../../styles/blocks/_blockquote-block-type-1.scss';

interface Props {
  id?: string;
  class?: string;

  blockquoteText: string;
  blockquoteAuthor?: string;
}

const { 
  id, 
  class: className = '',

  blockquoteText,
  blockquoteAuthor
} = Astro.props;

---

<div class={`blockquote-block-type-1 ${className}`} id={id || undefined}>
  <div class="container">
    <div class="c-12 c-md-10 m-md-1">
      <div class="title-h3 text--center">{blockquoteText}</div>
      {blockquoteAuthor && (
        <div class="subtitle text--center mt-32">
          {blockquoteAuthor}
        </div>
      )}
    </div>
  </div>
</div>
