---
import '../../styles/blocks/_cta-block-type-1.scss';

interface Props {
  id?: string;
  class?: string;

  subtitle?: string;
  title?: string;
  description?: string;
}

const { 
  id, 
  class: className = '', 

  subtitle,
  title, 
  description
} = Astro.props;

---

<div class={`cta-block-type-1 ${className}`} id={id || undefined}>
  <div class="container">
    <div class="row">
      <div class="c-12">
        {subtitle &&(
          <div class="subtitle text--center mb-16">
            <slot name="subtitle">{subtitle}</slot>
          </div>
        )}
        {title &&(
          <h2 class="title-h2 text--center">
            <slot name="title">{title}</slot>
          </h2>
        )}
        {description &&(
          <div class="mw-wrapper mw-wrapper--center mt-16">
            <p class="text--center">{description}</p>
          </div>
        )}
        <slot/>
      </div>
    </div>
  </div>
</div>
