---
import '../../styles/blocks/_header-block-type-1.scss';

interface Props {
  id?: string;
  class?: string;

  pretitle?: string;
  title?: string;
  description?: string;
}

const { 
  id, 
  class: className = '', 

  pretitle,
  title, 
  description
} = Astro.props;

---

<div class={`header-block-type-1 ${className}`} id={id || undefined}>
  <div class="container">
    <div class="row">
      <div class="c-12">
        {pretitle &&(
          <div class="pretitle text--center mb-16">
            <slot name="pretitle">{pretitle}</slot>
          </div>
        )}
        {title &&(
          <h1 class="title-h1 text--center">
            <slot name="title">{title}</slot>
          </h1>
        )}
        {description &&(
          <div class="mw-wrapper mw-wrapper--center mt-16">
            <p class="text--center">{description}</p>
          </div>
        )}
        <slot/>
      </div>
    </div>
  </div>
</div>
