---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeaderBlockType1 from '../components/blocks/HeaderBlockType1.astro';
import HeaderBlockType2 from '../components/blocks/HeaderBlockType2.astro';
import CardsBlockType1 from '../components/blocks/CardsBlockType1.astro';
import CardsBlockType2 from '../components/blocks/CardsBlockType2.astro';
import BlockquoteBlockType1 from '../components/blocks/BlockquoteBlockType1.astro';
import FaqBlock from '../components/blocks/FaqBlock.astro';
import CtaBlockType1 from '../components/blocks/CtaBlockType1.astro';
import ProductsBlock from '../components/blocks/ProductsBlock.astro';
import ContactsBlock from '../components/blocks/ContactsBlock.astro';
import ReviewsBlock from '../components/blocks/ReviewsBlock.astro';
import PriceTableBlock from '../components/blocks/PriceTableBlock.astro';
import GalleryBlockType1 from '../components/blocks/GalleryBlockType1.astro';
import CardsBlockType3 from '../components/blocks/CardsBlockType3.astro';
---

<BaseLayout 
  title="Главная страница" 
  description="Описание главной страницы"
  index={false}
  ogImage="сслыка на превью для главной страницы"
  >

  <HeaderBlockType1
    id=""
    class=""

    pretitle="Столярная мастерская"
    title="Предметы ручной работы, которые хочется оставить рядом надолго"
    description="Уникальные изделия из массива дерева ручной работы. Натуральные материалы, внимание к деталям и безупречное качество"
    >
    <div class="buttons-wrapper buttons-wrapper--jcc buttons-wrapper--ew mt-48">
      <a href="#izdeliya" class="button scroll-to">Выбрать изделие</a>
      <a href="#otzyvy" class="button button--outlined--gray scroll-to">Смотреть отзвыв</a>
    </div>
  </HeaderBlockType1>

  <CardsBlockType3
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle="Подзаголовок"
    title="Заголовок"
    description="Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
    link="#",
    linkText="Кнопка",

    cards={[
      {
        pretitle: "шаг 1",
        title: "Заголовок 1",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        link: "#",
        linkText: "Текст ссылки"
      },
      {
        pretitle: "шаг 2",
        title: "Заголовок 2",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле."
      },
      {
        pretitle: "шаг 3",
        title: "Заголовок 3",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле."
      },
      {
        pretitle: "шаг 4",
        title: "Заголовок 4",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле."
      },
      {
        pretitle: "шаг 5",
        title: "Заголовок 5",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле."
      },
    ]}
  >
  </CardsBlockType3>

  <CardsBlockType2
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle=""
    title=""
    description=""

    cards={[
      {
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Что такое Hidamari?",
        description: "Hidamari — это японское слово, означающее солнечное пятно на полу. Это тихое уютное ощущение, которое хочется продлить. Такими мы создаём наши изделия: не кричащими, не требующими внимания, а просто тёплыми местами в вашем доме. Мы верим, что в мире цифрового шума важно окружать себя подлинными вещами. Такими, которые стареют красиво, приобретая благородную патину времени и сохраняя историю прикосновений.",
        link: "#",
        linkText: "О проекте"
      },
    ]}
    >
  </CardsBlockType2>

  <CardsBlockType1
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle="Наши"
    title="Преимущества"
    description=""

    cards={[
      {
        title: "Материалы",
        description: "Дуб, ясень, бук, орех - только массив, без шпона и имитаций"
      },
      {
        title: "Защита",
        description: "Покрытие натуральными составами: масло, воск"
      },
      {
        title: "Гарантия",
        description: "Отвечаем за каждое изделие, если возникнет вопрос — найдём решение без бюрократии"
      },
      {
        title: "Упаковка",
        description: "Надёжно упаковываем каждое изделие: пупырка, картон, стрейч-пленка"
      },
    ]}
    >
  </CardsBlockType1>

  <BlockquoteBlockType1
    id=""
    class="mt-64 mt-sm-96 mt-md-128"
    blockquoteText="«Дерево — материал, который становится красивее, когда стареет. Оно хранит тепло рук и свет солнца. Именно поэтому вещи из дерева не просто служат — они живут вместе с вами. И с каждым годом обретают особый характер, свою историю.»"
    blockquoteAuthor="- Команда проекта Hidamari -"
    >
  </BlockquoteBlockType1>

  <GalleryBlockType1
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle=""
    title="Атмосфера"
    description="Детали, которые создают настроение"

    images={[
      { 
        url: "/images/placeholders/placeholder-1000x1000.png",
        description: "Описание картинки 1",

      },
      { 
        url: "/images/placeholders/placeholder-1000x1000.png",
        description: "Описание картинки 2",

      },
      { 
        url: "/images/placeholders/placeholder-1000x1000.png",
        description: "Описание картинки 3",

      },
      { 
        url: "/images/placeholders/placeholder-1000x1000.png",
        description: "Описание картинки 4",

      },
      { 
        url: "/images/placeholders/placeholder-1000x1000.png",
        description: "Описание картинки 5",

      },
      { 
        url: "/images/placeholders/placeholder-1000x1000.png",
        description: "Описание картинки 6",

      },
      { 
        url: "/images/placeholders/placeholder-1000x1000.png",
        description: "Описание картинки 7",

      },
    ]}
  >
  </GalleryBlockType1>

  <CardsBlockType2
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle="Наш подход"
    title="Внимание к каждой детали"
    description=""

    cards={[
      {
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Заголовок",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        link: "#",
        linkText: "Кнопка 1"
      },
      {
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Заголовок",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        link: "",
        linkText: ""
      },
      {
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Заголовок",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        link: "",
        linkText: ""
      },
    ]}
    >
  </CardsBlockType2>

  <ProductsBlock
    id="izdeliya"
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle="Коллекция"
    title="Изделия которые мы делаем с любовью"
    description=""

    products={[
      {
        category: "",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Название товара",
        description: "Описание товара",
        details: "Детали",
        price: "123 ₽"
      },
      {
        category: "polki",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Полка малая",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        details: "Материал: ясень \nРазмеры: 383х258х100мм \nПокрытие: натуральное масло",
        price: "3 000 ₽"
      },
      {
        category: "polki",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Полка 3х3",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        details: "Материал: ясень \nРазмеры: \nПокрытие: натуральное масло",
        price: "5 500 ₽"
      },
      {
        category: "polki",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Полка 3х4",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        details: "Материал: ясень \nРазмеры: 510х385х100мм \nПокрытие: натуральное масло",
        price: "6 500 ₽"
      },
      {
        category: "polki",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Полка 3х5",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        details: "Материал: ясень \nРазмеры: 510х385х100мм \nПокрытие: натуральное масло",
        price: "7 500 ₽"
      },
      {
        category: "polki",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Полка «Кастом 1»",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        details: "Материал: ясень \nРазмеры: 810х395х100мм \nТолщина контура: 12мм \nПокрытие: натуральное масло \n*возможна установка петель для крепления на стену",
        price: "7 500 ₽"
      },
      {
        category: "polki",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Полка «Кастом 2»",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        details: "Материал: ясень \nРазмеры: 595х380х100мм \nПокрытие: натуральное масло",
        price: "7 500 ₽"
      },
      {
        category: "polki",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Полка «Особое место»",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        details: "Материал: ясень \nРазмеры: \nПокрытие: натуральное масло",
        price: "10 000 ₽"
      },
      {
        category: "chabani",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Чабань «Эгоист»",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        details: "Материал: дуб \nРазмеры: 260x120x40мм \nПокрытие: масло Borma Hard Top Oil",
        price: "3 500 ₽"
      },
      {
        category: "chabani",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Чабань «Базовая»",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        details: "Материал: дуб \nРазмеры: 380x220x45мм \nТолщина поверхности: 20мм (после фрезеровки 17мм) \nПокрытие: масло Borma Hard Top Oil \nПоддон: нержавеющая сталь, объем около 800 мл",
        price: "8 000 ₽"
      },
      {
        category: "stoliki-i-podnosy",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Поднос из ясеня",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        details: "Материал: ясень \nРазмеры: 300x200x15мм \nПокрытие: натуральное масло",
        price: "2 000 ₽"
      },
      {
        category: "stoliki-i-podnosy",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Мини-столик",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        details: "Материал: ясень \nРазмеры: 240x240x50мм \nПокрытие: натуральное масло",
        price: "3 200 ₽"
      },
      {
        category: "stoliki-i-podnosy",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Столик из ясеня",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        details: "Материал: ясень \nРазмеры: 450x280x50мм \nПокрытие: масло Borma Hard Top Oil",
        price: "4 000 ₽"
      },
      {
        category: "lampy",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Лампа",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        details: "Материал: дуб \nРазмеры: 150х150х330мм \nПокрытие: натуральное масло \nПровод с диммером 1.8м",
        price: "9 000 ₽"
      },
      {
        category: "drugoe",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Подставка для ножей",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        details: "Материал: дуб \nРазмеры: 100х100х225мм \nПокрытие: натуральное масло",
        price: "3 200 ₽"
      },
      {
        category: "drugoe",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Стаканчик",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
        details: "Материал: дуб \nРазмеры: 75х75х120мм \nПокрытие: натуральное масло",
        price: "800 ₽"
      }
    ]}
    >
    <div class="buttons-wrapper buttons-wrapper--jcc buttons-wrapper--gap-4 filter-buttons mb-48">
      <div class="button button--filled--gray button--small active" data-filter="all">Все</div>
      <div class="button button--filled--gray button--small" data-filter="polki">Полки</div>
      <div class="button button--filled--gray button--small" data-filter="chabani">Чабани</div>
      <div class="button button--filled--gray button--small" data-filter="stoliki-i-podnosy">Столики и подносы</div>
      <div class="button button--filled--gray button--small" data-filter="lampy">Лампы</div>
      <div class="button button--filled--gray button--small" data-filter="drugoe">Другое</div>
    </div>
  </ProductsBlock>

  <ReviewsBlock
    id="otzyvy"
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle="Честные"
    title="Отзывы от наших клиентов"
    description=""

    reviews ={[
      {
        images: [
          "/images/placeholders/placeholder-1000x1000.png",
        ],
        title: "1",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",

        author: "Автор отзыва",
        sourceText: "Источник отзыва",
        sourceLink: "#",
        
      },
      {
        images: [
          "/images/placeholders/placeholder-1000x1000.png",
          "/images/placeholders/placeholder-1000x1000.png",
          "/images/placeholders/placeholder-1000x1000.png",
          "/images/placeholders/placeholder-1000x1000.png",
        ],
        title: "Перетяжка сидения для гидроцикла",
        description: "В работе использован специальный морской винил устойчивый к морской воде, солям, ультрафиолету. Палитра морского винила очень разнообразная, можно исполнить в любом цветовом решении.",

        author: "Вася Пупкин",
        sourceText: "Яндекс.Карты",
        sourceLink: "#",
      },
      {
        images: [],
        title: "3",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",

        author: "",
        sourceText: "",
        sourceLink: "#",
      },
      {
        images: [],
        title: "4",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",

        author: "",
        sourceText: "",
        sourceLink: "#",
      },
      {
        images: [],
        title: "5",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",

        author: "",
        sourceText: "",
        sourceLink: "#",
      },
    ]}
    >
  </ReviewsBlock>

  <CtaBlockType1
    id=""
    class="pt-64 pt-sm-96 pt-md-128 pb-64 pb-sm-96 pb-md-128 mt-64 mt-sm-96 mt-md-128"

    pretitle="Как сделать"
    title="Индивидуальный заказ"
    description="Иногда готовое изделие — не то, что нужно. Пространство требует своих размеров. Человек — своих ощущений. Настроение — своей формы. В Hidamari мы оставляем место для диалога. Расскажите нам о своём доме, о ритуале, о том, чего не хватает — и мы создадим предмет, который ляжет в жизнь естественно, как солнечное пятно на полу."
    >
    <div class="buttons-wrapper buttons-wrapper--jcc mt-48">
      <a href="#" class="button">Обсудить заказ</a>
    </div>
  </CtaBlockType1>

  <FaqBlock
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle="Ответы на"
    title="Часто задаваемые вопросы"
    description=""

    faqItems={[
      {
        title: "Из чего сделаны изделия?",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле."
      },
      {
        title: "Чем покрыты изделия?",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле."
      },
      {
        title: "Можно ли сделать изделие на заказ?",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле."
      },
      {
        title: "Можно ли будет повесить полку на стену?",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле."
      },
      {
        title: "Разбираются ли полки?",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле."
      },
      {
        title: "Есть ли скидки?",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле."
      },
    ]}
    >
  </FaqBlock>

  <ContactsBlock
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle="Свяжитесь с нами"
    title="Контакты"
    description=""
    >
  </ContactsBlock>

</BaseLayout>