---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProductsBlock from '../components/blocks/ProductsBlock.astro';
---

<BaseLayout 
  title="Изделия"
  description="Описание страницы"
  canonical="/izdeliya/"
  index={false}
  ogImage="@"
>

<div class="container pt-64">
  <div class="row">
    <div class="c-12">
      <h1 class="title-h1">Изделия</h1>
    </div>
  </div>
</div>

<ProductsBlock
  id=""
  class="mt-48"

  pretitle=""
  title=""
  description=""

  products={[
    {
      category: "",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Название товара",
      description: "Описание товара",
      details: "Детали",
      price: "123 ₽"
    },
    {
      category: "polki",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Полка малая",
      description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      details: "Материал: ясень \nРазмеры: 383х258х100мм \nПокрытие: натуральное масло",
      price: "3 000 ₽"
    },
    {
      category: "polki",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Полка 3х3",
      description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      details: "Материал: ясень \nРазмеры: \nПокрытие: натуральное масло",
      price: "5 500 ₽"
    },
    {
      category: "polki",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Полка 3х4",
      description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      details: "Материал: ясень \nРазмеры: 510х385х100мм \nПокрытие: натуральное масло",
      price: "6 500 ₽"
    },
    {
      category: "polki",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Полка 3х5",
      description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      details: "Материал: ясень \nРазмеры: 510х385х100мм \nПокрытие: натуральное масло",
      price: "7 500 ₽"
    },
    {
      category: "polki",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Полка 5х5",
      description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      //details: "Материал: ясень \nРазмеры: 510х385х100мм \nПокрытие: натуральное масло",
      price: "12 500 ₽"
    },
    {
      category: "polki",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Полка «Кастом 1»",
      description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      details: "Материал: ясень \nРазмеры: 810х395х100мм \nТолщина контура: 12мм \nПокрытие: натуральное масло \n*возможна установка петель для крепления на стену",
      price: "7 500 ₽"
    },
    {
      category: "polki",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Полка «Кастом 2»",
      description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      details: "Материал: ясень \nРазмеры: 595х380х100мм \nПокрытие: натуральное масло",
      price: "7 500 ₽"
    },
    {
      category: "polki",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Полка «Особое место»",
      description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      details: "Материал: ясень \nРазмеры: \nПокрытие: натуральное масло",
      price: "10 000 ₽"
    },
    {
      category: "chabani",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Чабань «Эгоист»",
      description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      details: "Материал: дуб \nРазмеры: 260x120x40мм \nПокрытие: масло Borma Hard Top Oil",
      price: "3 500 ₽"
    },
    {
      category: "chabani",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Чабань «Базовая»",
      description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      details: "Материал: дуб \nРазмеры: 380x220x45мм \nТолщина поверхности: 20мм (после фрезеровки 17мм) \nПокрытие: масло Borma Hard Top Oil \nПоддон: нержавеющая сталь, объем около 800 мл",
      price: "8 000 ₽"
    },
    {
      category: "stoliki-i-podnosy",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Поднос из ясеня",
      description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      details: "Материал: ясень \nРазмеры: 300x200x15мм \nПокрытие: натуральное масло",
      price: "2 000 ₽"
    },
    {
      category: "stoliki-i-podnosy",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Мини-столик",
      description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      details: "Материал: ясень \nРазмеры: 240x240x50мм \nПокрытие: натуральное масло",
      price: "3 200 ₽"
    },
    {
      category: "stoliki-i-podnosy",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Столик из ясеня",
      description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      details: "Материал: ясень \nРазмеры: 450x280x50мм \nПокрытие: масло Borma Hard Top Oil",
      price: "4 000 ₽"
    },
    {
      category: "lampy",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Лампа",
      description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      details: "Материал: дуб \nРазмеры: 150х150х330мм \nПокрытие: натуральное масло \nПровод с диммером 1.8м",
      price: "9 000 ₽"
    },
    {
      category: "drugoe",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Подставка для ножей",
      description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      details: "Материал: дуб \nРазмеры: 100х100х225мм \nПокрытие: натуральное масло",
      price: "3 200 ₽"
    },
    {
      category: "drugoe",
      image: "/images/placeholders/placeholder-1000x1000.png",
      title: "Стаканчик",
      description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      details: "Материал: дуб \nРазмеры: 75х75х120мм \nПокрытие: натуральное масло",
      price: "800 ₽"
    }
  ]}
  >
  <div class="buttons-wrapper buttons-wrapper--gap-4 filter-buttons mb-48">
    <div class="button button--small button--outlined--gray  active" data-filter="all">Все</div>
    <div class="button button--small button--outlined--gray" data-filter="polki">Полки</div>
    <div class="button button--small button--outlined--gray" data-filter="chabani">Чабани</div>
    <div class="button button--small button--outlined--gray" data-filter="stoliki-i-podnosy">Столики и подносы</div>
    <div class="button button--small button--outlined--gray" data-filter="lampy">Лампы</div>
    <div class="button button--small button--outlined--gray" data-filter="drugoe">Другое</div>
  </div>
</ProductsBlock>
  
</BaseLayout>