---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout 
  title="Изделия на заказ"
  description="Описание страницы"
  canonical="/izdeliya-na-zakaz/"
  ogImage=""
>

<div class="container pt-64">
  <div class="row">
    <div class="c-12">
      <h1 class="title-h1">Изделия на заказ</h1>
    </div>
  </div>
  <div class="row mt-48">
    <div class="c-12">
      <p>Скоро...</p>
    </div>
  </div>
</div>
  
</BaseLayout>