---
import BaseLayout from '../layouts/BaseLayout.astro';

import ProductsBlock from '../components/blocks/ProductsBlock.astro';
import { products } from '../data/izdeliya.ts';
---

<BaseLayout 
  title="Изделия"
  description="Описание страницы"
  canonical="/izdeliya/"
  index={false}
  ogImage="@"
>

<div class="container pt-64">
  <div class="row">
    <div class="c-12">
      <h1 class="title-h1">Изделия</h1>
    </div>
  </div>
</div>

<ProductsBlock
  id=""
  class="mt-48"

  pretitle=""
  title=""
  description=""

  products={products}
  >
  <div class="buttons-wrapper buttons-wrapper--gap-4 filter-buttons mb-48">
    <div class="button button--small button--outlined--gray  active" data-filter="all">Все</div>
    <div class="button button--small button--outlined--gray" data-filter="polki">Полки</div>
    <div class="button button--small button--outlined--gray" data-filter="chabani">Чабани</div>
    <div class="button button--small button--outlined--gray" data-filter="stoliki-i-podnosy">Столики и подносы</div>
    <div class="button button--small button--outlined--gray" data-filter="lampy">Лампы</div>
    <div class="button button--small button--outlined--gray" data-filter="drugoe">Другое</div>
  </div>
</ProductsBlock>
  
</BaseLayout>