---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeaderBlockType1 from '../components/blocks/HeaderBlockType1.astro';
import CardsBlockType1 from '../components/blocks/CardsBlockType1.astro';
import CardsBlockType2 from '../components/blocks/CardsBlockType2.astro';
import BlockquoteBlockType1 from '../components/blocks/BlockquoteBlockType1.astro';
import FaqBlock from '../components/blocks/FaqBlock.astro';
import CtaBlockType1 from '../components/blocks/CtaBlockType1.astro';
import ProductsBlock from '../components/blocks/ProductsBlock.astro';
import ContactsBlock from '../components/blocks/ContactsBlock.astro';
import ReviewsBlock from '../components/blocks/ReviewsBlock.astro';
import PriceTableBlock from '../components/blocks/PriceTableBlock.astro';
---

<BaseLayout title="Lesta">

  <HeaderBlockType1
    id=""
    class=""

    subtitle="Автоателье в Казани"
    title="Доверьте перетяжку своего авто профессионалам"
    description="Мы - компания, где каждый стежок пропитан страстью, наша цель - совершенство в каждой детали"
    >
    <div class="buttons-wrapper buttons-wrapper--jcc mt-48">
      <a href="#" class="button scroll-to">Смотреть работы</a>
      <a href="#" class="button button--outlined--gray scroll-to">Обсудить работу</a>
    </div>
  </HeaderBlockType1>

  <CardsBlockType1
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    subtitle="О компании"
    title="В цифрах"
    description=""

    cards={[
      {
        title: "10+",
        description: "лет опыта"
      },
      {
        title: "600+",
        description: "выполненных работ"
      },
      {
        title: "100%",
        description: "довольных клиентов"
      },
      {
        title: "2",
        description: "года гарантии на работу"
      },
    ]}
    >
  </CardsBlockType1>

  <CardsBlockType2
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    subtitle="Мы делаем"
    title="Профессиональную перетяжку, кастомизацию и ремонт"
    description=""

    cards={[
      {
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Перетяжка",
        description: "Профессиональная перетяжка салона — это ключ к созданию комфорта и эстетики вашего автомобиля. Используя в работе только высококачественные материалы и опираясь на опыт наших мастеров, мы гарантируем долговечность и привлекательный внешний вид. Обновленный салон не только улучшает общее впечатление, но и повышает стоимость автомобиля на рынке. А выбор индивидуального дизайна позволит вам подчеркнуть собственный стиль и уникальность.",
        link: "",
        linkText: ""
      },
      {
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Ремонт",
        description: "Мы предлагаем услугу по восстановлению и индивидуализации интерьера вашего автомобиля. Мы проводим работы по ремонту, покраске и модификации различных элементов, включая сиденья, панели, рулевое колесо и ремни безопасности. Это позволит вам не только обновить ваш автомобиль, но и вернуть себе комфорт или создать уникальный стиль, отражающий вас.",
        link: "",
        linkText: ""
      },
      {
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Кастомизация",
        description: "Мы понимаем, что каждая ситуация обладает своими уникальными особенностями, и именно поэтому стараемся учитывать все детали. Такой подход обеспечивает максимальную эффективность и удовлетворенность, так как мы адаптируем наши услуги под ваши индивидуальные потребности и пожелания. С нами вы можете быть уверены, что ваша задача будет выполнена с учетом всех нюансов и с высоким качеством.",
        link: "",
        linkText: ""
      },
    ]}
    >
  </CardsBlockType2>

  <PriceTableBlock
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    subtitle="Услуги и цены"
    title="Делаем профессиональную перетяжку любой сложности"
    description="*стоимость перетяжки зависит от выбора материала и индивидуальных предпочтений, мы работаем прозрачно и без скрытых наценок"

    items ={[
      {
        title: "Перетяжка сидений",
        price: "от 100 000 ₽",
      },
      {
        title: "Перетяжка дверных карт",
        price: "от 10 000₽",
      },
      {
        title: "Перетяжка потолка",
        price: "от 25 000₽",
      },
      {
        title: "Перетяжка торпедо",
        price: "от 40 000₽",
      },
      {
        title: "Перетяжка руля в натуральную кожу",
        price: "от 12 000₽",
      },
      {
        title: "Перетяжка клаксона руля",
        price: "от 10 000₽",
      },
      {
        title: "Перетяжка ручки КПП",
        price: "от 3 000₽",
      },
      {
        title: "Перетяжка пыльников КПП, ручного тормоза (ручника)",
        price: "от 3 000₽",
      },
      {
        title: "Перетяжка подлокотника",
        price: "от 4 500₽",
      },
      {
        title: "Замена лент ремней безопасности",
        description: "за точку",
        price: "от 6 000₽",
      },
      {
        title: "Перетяжка мото-сидений",
        description: "мотоциклы, квадроциклы, гидроциклы, снегоходы",
        price: "от 13 000₽",
      },
      {
        title: "Установка обогрева руля",
        price: "от 30 000₽",
      },
      {
        title: "Установка обогрева сидений",
        description: "за место",
        price: "от 15 000₽",
      },
      {
        title: "Установка массажа/вентиляции сидений",
        description: "за место",
        price: "от 40 000₽",
      },
      {
        title: "Ремонт пенолитья",
        price: "от 5 000₽",
      },
      {
        title: "Ремонт сидений",
        price: "от 5 000₽",
      },
      {
        title: "Изменение формы и внедрение геля в мото-сидение",
        price: "от 10 000₽",
      },
    ]}
  >
  </PriceTableBlock>

  <CtaBlockType1
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    subtitle=""
    title="Узнайте стоимость перетяжки"
    description="Напишите нам, и мы предложим лучшее решение для вашего автомобиля"
    >
    <div class="buttons-wrapper buttons-wrapper--jcc mt-48">
      <a href="#" class="button">Узнать стоимость</a>
    </div>
  </CtaBlockType1>

  <FaqBlock
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    subtitle="Ответы на"
    title="Часто задаваемые вопросы"
    description=""

    faqItems={[
      {
        title: "Из чего сделаны изделия?",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле."
      },
      {
        title: "Чем покрыты изделия?",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле."
      },
      {
        title: "Можно ли сделать изделие на заказ?",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле."
      },
      {
        title: "Можно ли будет повесить полку на стену?",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле."
      },
      {
        title: "Разбираются ли полки?",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле."
      },
      {
        title: "Есть ли скидки?",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле."
      },
    ]}
    >
  </FaqBlock>

  <ContactsBlock
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    subtitle="Свяжитесь с нами"
    title="Контакты"
    description=""
    >
  </ContactsBlock>

</BaseLayout>