---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout 
  title="Сотрудничество"
  description="Описание страницы"
  canonical="/sotrudnichestvo/"
  ogImage=""
>

<div class="container pt-64">
  <div class="row">
    <div class="c-12">
      <h1 class="title-h1">Сотрудничество</h1>
    </div>
  </div>
  <div class="row mt-48">
    <div class="c-12 c-sm-12 c-md-6">

      <div class="buttons-wrapper buttons-wrapper--gap-4">
        <a href="#toc1" class="button button--small button--outlined--gray scroll-to">Чайным клубам и мастерам</a>
        <a href="#toc2" class="button button--small button--outlined--gray scroll-to">Корпоративным клиентам</a>
        <a href="#toc3" class="button button--small button--outlined--gray scroll-to">Дизайнерам</a>
      </div>

      <div class="text--default mt-48">
        123
      </div>
      
    </div>
  </div>
</div>
  
</BaseLayout>