---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeaderBlockType1 from '../components/blocks/HeaderBlockType1.astro';
import HeaderBlockType2 from '../components/blocks/HeaderBlockType2.astro';
import CardsBlockType1 from '../components/blocks/CardsBlockType1.astro';
import CardsBlockType2 from '../components/blocks/CardsBlockType2.astro';
import BlockquoteBlockType1 from '../components/blocks/BlockquoteBlockType1.astro';
import FaqBlock from '../components/blocks/FaqBlock.astro';
import CtaBlockType1 from '../components/blocks/CtaBlockType1.astro';
import ProductsBlock from '../components/blocks/ProductsBlock.astro';
import ContactsBlock from '../components/blocks/ContactsBlock.astro';
import ReviewsBlock from '../components/blocks/ReviewsBlock.astro';
import PriceTableBlock from '../components/blocks/PriceTableBlock.astro';
import GalleryBlockType1 from '../components/blocks/GalleryBlockType1.astro';
import CardsBlockType3 from '../components/blocks/CardsBlockType3.astro';
---

<BaseLayout 
  title="Все блоки" 
  description="Описание страницы"
  index={false}
  canonical="/vse-bloki/"
  ogImage=""
  >

  <HeaderBlockType1
    id="id"
    class="class"

    pretitle="Текст перед заголовком"
    title="Хедер блок (тип 1)"
    description="Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле"
    >
    <div class="buttons-wrapper buttons-wrapper--jcc buttons-wrapper--ew mt-48">
      <a href="#" class="button">Кнопка 1</a>
      <a href="#" class="button button--outlined--gray">Кнопка 2</a>
    </div>
  </HeaderBlockType1>

  <HeaderBlockType2
    id=""
    class="mt-64 mt-sm-96 mt-md-128"

    pretitle="Текст перед заголовком"
    title="Хедер блок (тип 2)"
    description="Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле"
    >
    <div class="buttons-wrapper buttons-wrapper--jcc buttons-wrapper--ew mt-48">
      <a href="#" class="button">Кнопка 1</a>
      <a href="#" class="button button--outlined--gray">Кнопка 2</a>
    </div>
  </HeaderBlockType2>

  <PriceTableBlock
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle="Текст перед заголовком"
    title="Таблица с ценами"
    description="Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле"

    items ={[
      {
        title: "Заголовок 1",
        description: "Описание услуги",
        price: "1000₽",
      },
      {
        title: "Заголовок 2",
        price: "2000₽",
      },
      {
        title: "Заголовок 3",
        description: "Описание услуги",
        price: "3000₽",
      },
    ]}
  >
  </PriceTableBlock>

  <CardsBlockType1
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle="Текст перед заголовком"
    title="Карточки (тип 1)"
    description="Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле"

    cards={[
      {
        title: "Заголовок 1",
        description: "Описание карточки"
      },
      {
        title: "Заголовок 2",
        description: "Описание карточки"
      },
      {
        title: "Заголовок 3",
        description: "Описание карточки"
      },
      {
        title: "Заголовок 4",
        description: "Описание карточки"
      },
    ]}
    >
  </CardsBlockType1>
  
  <CardsBlockType2
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle="Текст перед заголовком"
    title="Карточки (тип 2)"
    description="Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле"

    cards={[
      {
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Заголовок",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",
        link: "#",
        linkText: "Кнопка"
      },
      {
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Заголовок",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",
        link: "#",
        linkText: "Кнопка"
      },
    ]}
    >
  </CardsBlockType2>

  <CardsBlockType3
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle="Текст перед заголовком"
    title="Карточки (тип 3)"
    description="Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",
    link="#",
    linkText="Кнопка",

    cards={[
      {
        pretitle: "шаг 1",
        title: "Заголовок",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",
        link: "#",
        linkText: "Текст ссылки"
      },
      {
        pretitle: "шаг 2",
        title: "Заголовок",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",
        link: "",
        linkText: ""
      },
      {
        pretitle: "шаг 3",
        title: "Заголовок",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",
        link: "",
        linkText: ""
      },
      {
        pretitle: "шаг 4",
        title: "Заголовок",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",
        link: "",
        linkText: ""
      },
      {
        pretitle: "шаг 5",
        title: "Заголовок",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",
        link: "",
        linkText: ""
      },
    ]}
  >
  </CardsBlockType3>

  <BlockquoteBlockType1
    id=""
    class="mt-64 mt-sm-96 mt-md-128"
    blockquoteText="«Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле»"
    blockquoteAuthor="Автор цитаты"
    >
  </BlockquoteBlockType1>

  <GalleryBlockType1
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle="Текст перед заголовком"
    title="Галерея"
    description="Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",

    images={[
      { 
        url: "/images/placeholders/placeholder-1000x1000.png",
        description: "Описание картинки 1",
      },
      { 
        url: "/images/placeholders/placeholder-1000x1000.png",
        description: "Описание картинки 2",
      },
      { 
        url: "/images/placeholders/placeholder-1000x1000.png",
        description: "Описание картинки 3",
      },
      { 
        url: "/images/placeholders/placeholder-1000x1000.png",
        description: "Описание картинки 4",
      },
      { 
        url: "/images/placeholders/placeholder-1000x1000.png",
        description: "Описание картинки 5",
      },
      { 
        url: "/images/placeholders/placeholder-1000x1000.png",
        description: "Описание картинки 6",
      },
      { 
        url: "/images/placeholders/placeholder-1000x1000.png",
        description: "Описание картинки 7",
      },
    ]}
  >
  </GalleryBlockType1>

  <ProductsBlock
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle="Текст перед заголовком"
    title="Товары"
    description="Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",

    products={[
      {
        category: "cat1",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Название товара (категория 1)",
        description: "Описание товара",
        details: "Детали",
        price: "1000 ₽",
        link: "/izdeliya/test/"
      },
      {
        category: "cat2",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Название товара (категория 2)",
        description: "Описание товара",
        details: "Детали",
        price: "2000 ₽"
      },
      {
        category: "cat3",
        image: "/images/placeholders/placeholder-1000x1000.png",
        title: "Название товара (категория 3)",
        description: "Описание товара",
        details: "Детали",
        price: "3000 ₽"
      },
      
    ]}
    >
    <div class="buttons-wrapper buttons-wrapper--jcc buttons-wrapper--gap-4 filter-buttons mb-48">
      <div class="button button--small button--outlined--gray active" data-filter="all">Все</div>
      <div class="button button--small button--outlined--gray" data-filter="cat1">Категория 1</div>
      <div class="button button--small button--outlined--gray" data-filter="cat2">Категория 2</div>
      <div class="button button--small button--outlined--gray" data-filter="cat3">Категория 3</div>
    </div>
  </ProductsBlock>

  <ReviewsBlock
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle="Текст перед заголовком"
    title="Отзывы"
    description="Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",

    reviews ={[
      {
        images: [
          "/images/placeholders/placeholder-1000x1000.png",
        ],
        title: "Заголовок",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",

        author: "Автор",
        sourceText: "Источник",
        sourceLink: "#",
        
      },
      {
        images: [
          "/images/placeholders/placeholder-1000x1000.png",
          "/images/placeholders/placeholder-1000x1000.png",
        ],
        title: "Заголовок",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",

        author: "Автор",
        sourceText: "Источник",
        sourceLink: "#",
        
      },
      {
        images: [
          "/images/placeholders/placeholder-1000x1000.png",
          "/images/placeholders/placeholder-1000x1000.png",
          "/images/placeholders/placeholder-1000x1000.png",
        ],
        title: "Заголовок",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",

        author: "Автор",
        sourceText: "Источник",
        sourceLink: "#",
        
      },
      {
        images: [
          "/images/placeholders/placeholder-1000x1000.png",
          "/images/placeholders/placeholder-1000x1000.png",
          "/images/placeholders/placeholder-1000x1000.png",
          "/images/placeholders/placeholder-1000x1000.png",
        ],
        title: "Заголовок",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",

        author: "Автор",
        sourceText: "Источник",
        sourceLink: "#",
        
      },
    ]}
    >
  </ReviewsBlock>

  <CtaBlockType1
    id=""
    class="pt-64 pt-sm-96 pt-md-128 pb-64 pb-sm-96 pb-md-128 mt-64 mt-sm-96 mt-md-128"

    pretitle="Текст перед заголовком"
    title="Призыв к действию"
    description="Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",
    >
    <div class="buttons-wrapper buttons-wrapper--jcc mt-48">
      <a href="#" class="button">Кнопка</a>
    </div>
  </CtaBlockType1>

  <FaqBlock
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle="Текст перед заголовком"
    title="Вопросы и ответы"
    description="Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",

    faqItems={[
      {
        title: "Вопрос 1",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      },
      {
        title: "Вопрос 2",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      },
      {
        title: "Вопрос 3",
        description: "Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.",
      },
    ]}
    >
  </FaqBlock>

  <ContactsBlock
    id=""
    class="pt-64 pt-sm-96 pt-md-128"

    pretitle="Текст перед заголовком"
    title="Контакты"
    description="Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле",
    >
  </ContactsBlock>

</BaseLayout>